@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content{
    background-color: #fff;
    border-radius: 15px;
    /* width: 80%; */
    width: 970px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media screen and (max-width:1400px){
    .content{
        height: 70%;
    }
}
.content::before{
    content: "";
    position: absolute;
    background-color: #58afa5;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    left: 0;
}
.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary{
    color: #fff;
}
.title-secondary{
    color: #58afa5;
}
.description{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}
.description-primary{
    color: #fff;
}
.description-secondary{
    color: #bdc3c7;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0px;
    margin-top: 1rem;
}
.btn:hover{
    transition: background-color 0.5s;
}
.btn-primary{
    background-color: transparent;
    border: 1px solid #fff;
}
.btn-primary:hover{
    background-color: #fff;
    color: #58afa5;
}
.btn-secondary{
    background-color: #58afa5;
    border: 1px solid #58afa5;
}
.btn-secondary:hover{
    background-color: transparent;
    color: #58afa5;
}
/* Fist content*/
.first-content{
    display: flex;
}
.first-content .second-colum{
    z-index: 12;
}
.first-colum{
    text-align: center;
    width: 40%;
    z-index: 1;
}
.second-colum{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media{
    margin: 1rem 0;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media:hover .item-social-media{
    background-color: #58afa5;
    color: #fff;
    border-color: #58afa5;
    transition: background-color 0.5s;
}
.list-social-media{
    display: flex;
    list-style: none;
}
.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.item-social-media{
    color: #7f8c8d;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
}
.form input{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}
.icon{
    color: #7f8c8d;
    padding: 0 5px;
}
.label-input{
    background: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
/* second content*/
.second-content{
    position: absolute;
    display: flex;
}
.second-content .first-colum{
    order: 2;
    z-index: -1;
}
.second-content .second-colum{
    order: 1;
    z-index: -1;
}
.forgot-password{
    text-align: center;
    color: #7f8c8d;
    font-size: 14px;
}
.forgot-password::first-letter{
    text-transform: capitalize;
}
/* SING IN */
.sign-in-js .first-content .first-colum,
.sign-in-js .first-content .second-colum{
    z-index: -1;
}

.sign-in-js .second-content .first-colum{
    z-index: 13;
}
.sign-in-js .second-content .second-colum{
    z-index: 11;
}
.sign-in-js .content::before{
    left: 60%;
    border-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* SING UP */
.sign-up-js .second-content .first-colum,
.sign-up-js .second-content .second-colum{
    z-index: -1;
}
.sign-up-js .first-content .first-colum{
    z-index: 13;
}
.sign-up-js .first-content .second-colum{
    z-index: 11;
}
/* Animacao */
.sign-in-js .content::before{
    z-index: 12;
    animation: expand 1.5s ease-in;
}
.sign-up-js .content::before{
    z-index: 12;
    animation: expandReverse 1.5s ease-in;
}
@keyframes expand{
    from{
        left: 0%;
        width: 40%;
    }
    50%{
        width: 60%;
    }
    to{
        left: 60%;
        width: 40%;
    }
}
@keyframes expandReverse{
    from{
        left: 60%;
        width: 40%;
    }
    50%{
        width: 60%;
    }
    to{
        left: 0%;
        width: 40%;
    }
}
/* fade da area branca ao sair */
.sign-in-js .first-content .second-colum{
    position: relative;
    animation: fade-move-right 1.5s;
}
.sign-up-js .second-content .second-colum{
    position: relative;
    animation: fade-move-left 1.5s;
}
@keyframes fade-move-right{
    from{
        left: 0;
        z-index: 12;
        opacity: 1;
    }to{
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}
@keyframes fade-move-left{
    from{
        left: 0;
        z-index: 12;
        opacity: 1;
    }to{
        left: 110px;
        opacity: 0;
        z-index: -1;
    }
}
/* fade da area colorida ao entrar */
.sign-in-js .second-content .first-colum,
.sign-up-js .first-content .first-colum{
    position: relative;
    animation: fade 1.5s;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.sign-in-js .second-content .second-colum{
    animation: fade 1.5s ease-out;
}
.sign-up-js .first-content .second-colum{
    animation: fade 1.5s ease-out;
}
